<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Loading">
				<md-content class="md-padding">
					<md-list>
						<md-list-item class="noright md-no-proxy">
							<img alt="{{ person.name }}" class="md-avatar"/>
							<p>Song - Name ft. Me</p>
							<md-button aria-label="Summary" class="md-icon-button">
								<md-icon aria-label="Summary" class="md-secondary" >&#xE313;</md-icon>
							</md-button>
							<md-button aria-label="Settings" class="md-icon-button">
								<md-icon aria-label="Settings" class="md-secondary md-hue-3">&#xE8B8;</md-icon>
							</md-button>
						</md-list-item>
						<md-content class="md-padding" ng-show="false">
							Yoo this is hidden
						</md-content>
						<md-list-item class="noright md-no-proxy">
							<img alt="{{ person.name }}" class="md-avatar" />
							<p>Song - Name ft. Me</p>
							<md-button aria-label="Summary" class="md-icon-button">
								<md-icon aria-label="Summary" class="md-secondary" >&#xE313;</md-icon>
							</md-button>
							<md-button aria-label="Settings" class="md-icon-button">
								<md-icon aria-label="Settings" class="md-secondary md-hue-3">&#xE8B8;</md-icon>
							</md-button>
						</md-list-item>
					</md-list>
				</md-content>
			</md-tab>
			<md-tab label="Failed">
				<md-content class="md-padding">
					
				</md-content>
			</md-tab>
			<md-tab label="Completed">
				<md-content class="md-padding">
					
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
	
	
	
	 <!-- <md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}" ng-class="demo.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>  -->
	
	
	
	
	<div class="lock-size" layout="row" layout-align="end center">
		<md-fab-speed-dial md-open="demo.isOpen" md-direction="left" ng-class="demo.selectedMode">
			<md-fab-trigger>
				<md-button aria-label="menu" class="md-fab md-warn">
					<md-icon class="md-default-theme" class="material-icons">&#xE145;</md-icon>
				</md-button>
			</md-fab-trigger>
			<md-fab-actions>
				<md-button aria-label="Current Page" class="md-fab md-raised md-mini">
					<md-icon aria-label="Current Page">&#xE2C4;</md-icon>
				</md-button>
				<md-button aria-label="Click" class="md-fab md-raised md-mini">
					<md-icon aria-label="Click">&#xE876;</md-icon>
				</md-button>
				<md-button aria-label="Many" class="md-fab md-raised md-mini">
					<md-icon aria-label="Many">&#xE877;</md-icon>
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
</div>