<md-content class="md-padding">
	<md-list>
		<div ng-repeat="song in staCtrl.songs">
			<md-list-item class="noright md-no-proxy">
				<img alt="{{ person.name }}" class="md-avatar"/>
				<p>{{(song.songMetadata.artist || song.songMetadata.title) ? song.songMetadata.artist + ' - ' + song.songMetadata.title : song.downloadURL}}</p>
				<md-button aria-label="Summary" class="md-icon-button" ng-click="toggleDetails(song)">
					<md-icon aria-label="Summary" class="md-secondary" ng-show="!song.details">&#xE313;</md-icon>
					<md-icon aria-label="Summary" class="md-secondary" ng-show="song.details">&#xE316;</md-icon>
				</md-button>
				<md-button aria-label="Archive" class="md-icon-button" ng-click="ops.changeStatus('archived', song)">
					<md-tooltip>Achive</md-tooltip>
					<md-icon aria-label="Archive" class="md-secondary md-hue-3">archive</md-icon>
				</md-button>
				<md-menu>
					<md-button aria-label="More" class="md-icon-button" ng-click="ops.openMenu($mdOpenMenu, $event)">
						<md-icon md-menu-origin>more_vert</md-icon>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="item in ops._items">
							<md-button ng-click="item.click(song)">
								<md-icon md-menu-align-target>{{item.icon}}</md-icon>
								{{item.text}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</md-list-item>
			<md-list-item class="noright md-no-proxy" ng-show="song.details">
				<div flex="50" style="overflow:hidden;">
					<md-input-container class="md-block tight" flex-gt-sm>
						<label>Track Title</label>
						<input ng-model="song.songMetadata.title">
					</md-input-container>
					<!-- <p>{{song.downloadURL}}</p> -->
					<md-input-container class="md-block tight" flex-gt-sm>
						<label>URL</label>
						<div ng-click="ops.openSong(song)">
							<input disabled ng-model="song.downloadURL"></input>
							<md-tooltip>Go To Link</md-tooltip>
						</div>
						
					</md-input-container>
				</div>
				<div>
					<md-input-container class="tight">
						<label>Artist</label>
						<input ng-model="song.songMetadata.artist">
					</md-input-container>
					<md-input-container class="tight">
						<label>Album</label>
						<input ng-model="song.songMetadata.album">
					</md-input-container>
					<md-input-container class="tight">
						<label>Year</label>
						<input ng-model="song.songMetadata.year">
					</md-input-container>
				</div>
			</md-list-item>
		</div>
	</md-list>
</md-content>