<md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<h2>
				<span>Navigation</span>
			</h2>
			<span flex></span>
		</div>
	</md-toolbar> 
	<md-content layout-padding="">
		<md-list>
			<md-subheader class="md-no-sticky">Download</md-subheader>
			<md-list-item ng-click='uiNavigate("status")'>
				<md-icon class="md-default-theme" class="material-icons">&#xE0C9;</md-icon>
				<p>Status</p>
			</md-list-item>
			<md-list-item ng-click='uiNavigate("playlist")'>
				<md-icon class="md-default-theme" class="material-icons">&#xE878;</md-icon>
				<p>Playlist</p>
			</md-list-item>
			<md-list-item ng-click='uiNavigate("trackSearch")'>
				<md-icon class="md-default-theme" class="material-icons">&#xE251;</md-icon>
				<p>Search</p>
			</md-list-item>
			
			<md-divider></md-divider>
			<md-subheader class="md-no-sticky">Settings</md-subheader>
			<md-list-item>
				<md-icon class="md-default-theme" class="material-icons">&#xE7F9;</md-icon>
				<p>Connected Accounts</p>
			</md-list-item>
			<md-list-item>
				<md-icon class="md-default-theme" class="material-icons">&#xE1BC;</md-icon>
				<p>Connected Services</p>
				<div class="md-secondary"></div>
			</md-list-item>
		</md-list>
	</md-content> 
</md-sidenav>